<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="js" style="color: crimson">
<!--    <p>于是你想想，在很多页面都需要引入jquery、layui，-->
<!--        那么我们就可以定义一个统一的js引入标签，然后，在需要的地方，只需要添加一行即可</p>-->
<!--    <h1>我是一个代码碎片，要用的就把我引入的吧!</h1>-->

    <!--  layui自带jquery-->
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
    <link th:href="@{/layui/css/layui.css}" type="text/css" rel="stylesheet">
    <script th:inline="javascript" type="text/javascript">

        //图片上传预览功能,file:指的是文件,img指的JS dom对象q("#carPhoto")[0]
        function imgPreview(file, imgDom) {
            //判断是否支持FileReader
            if (window.FileReader) {
                var reader = new FileReader();
            } else {
                alert("您的设备不支持图片预览功能，如需该功能请升级您的设备！");
            }
            var imageType = /^image\//;
            //是否是图片
            if (!imageType.test(file.type)) {
                alert("请选择图片！");
                return;
            }
            //读取完成
            reader.onload = function (e) {
                //获取图片dom
                //图片路径设置为读取的图片
                imgDom.src = e.target.result;

            };
            reader.readAsDataURL(file);
        }
    </script>
</div>
</body>
</html>